<div class="container">
  <p>Black List</p>
  @if(isLoading){ <app-loading-component text="Getting Black List..." /> } @else
  { @if(!getUserSettings.getBlackList || getUserSettings.getBlackList.length ===
  0){
  <app-nothing-to-display />
  } @else {
  <div class="sub-container">
    @for(item of getUserSettings.getBlackList; track item){
    <app-tiny-item-component
      name="{{ item.userName }}"
      componentId="{{ item.userAccountId }}"
    >
      <app-tiny-button-component
        buttonType="delete"
        (select)="onRemoveFromBlackList(item.userAccountId)"
      />
    </app-tiny-item-component>
    }
  </div>
  } }
</div>
