<div class="container">
  <p>Requests List</p>
  @if(!getUserSettings.getRequestsList || getUserSettings.getRequestsList.length
  === 0){
  <app-nothing-to-display />
  } @else{
  <div class="sub-container">
    @for(item of getUserSettings.getRequestsList; track item){
    <app-tiny-item-component
      name="{{ item.userName }}"
      componentId="{{ item.requestId }}"
    >
      @if(item.isAccepted){
      <app-tiny-button-component buttonType="accepted" />
      } @else {
      <app-tiny-button-component buttonType="approve" />
      <app-tiny-button-component buttonType="delete" />
      }
    </app-tiny-item-component>
    }
  </div>
  }
</div>
