<div class="container">
  <p>Requests List</p>
  @if(isLoading){
  <app-loading-component text="Getting requests list" />
  } @else { @if(getUserSettings.getRequestsList === undefined ||
  getUserSettings.getRequestsList === null ||
  getUserSettings.getRequestsList!.length === 0){
  <app-nothing-to-display />
  } @else if(getUserSettings.getRequestsList!.length > 0){
  <div class="sub-container">
    @for(item of getUserSettings.getRequestsList; track item){
    <app-tiny-item-component
      name="{{ item.userName }}"
      componentId="{{ item.requestId }}"
    >
      @if(item.isAccepted){
      <app-tiny-button-component buttonType="accepted" />
      } @else {
      <app-tiny-button-component
        buttonType="approve"
        (select)="approveRequest(item.requestId)"
      />
      <app-tiny-button-component
        buttonType="delete"
        (select)="rejectRequest(item.requestId)"
      />
      }
    </app-tiny-item-component>
    }
  </div>
  } }
</div>
