<div id="SideBar">
  <h1>Chat App</h1>
  <button (click)="onSelect(0)">
    <i class="bi bi-chat-left-dots-fill"></i>
    <p>Chats</p>
  </button>
  <button (click)="onSelect(1)">
    <i class="bi bi-people-fill"></i>
    <p>Friends</p>
  </button>
  <button (click)="onSelect(2)">
    <i class="bi bi-list-task"></i>Black List
  </button>
  <button (click)="onSelect(3)">
    <i class="bi bi-question-lg"></i>Requests
  </button>
  <button (click)="onSelect(4)">
    <i class="bi bi-search"></i>Find Contant
  </button>
</div>
