<div class="container">
  <p>Friends List</p>
  @if(isLoading) {<app-loading-component text="Fetching Friends List..." />
  } @else { @if(!getUserSettings.getFriendsList ||
  getUserSettings.getFriendsList.length === 0){
  <app-nothing-to-display />
  } @else {
  <div class="sub-container">
    @for(item of getUserSettings.getFriendsList; track item){
    <app-tiny-item-component
      name="{{ item.userName }}"
      componentId="{{ item.userAccountId }}"
    >
      <app-tiny-button-component
        buttonType="chat"
        (select)="onChatRoute(item.userAccountId)"
      />
      <app-tiny-button-component
        buttonType="delete"
        (select)="onFriendRemove(item.userAccountId)"
      />
    </app-tiny-item-component>
    }
  </div>
  } }
</div>
