<div class="container">
  <p>Hello Traveler!</p>
  <div class="sub-container">
    <span>
      This application is just a fun side project that usues this tech stach:
      <br />
      FrontEnd : Angular 19
      <br />
      BackEnd : .Net 9
      <br />
      Databases: Microsoft Sql Server for account management and authorization
      <br />
      MongoDb to manage chats and user settings
      <br />
      I am planning to improve this application over time. There is going to be
      a few more features coming in the future, so stay tuned! :)
    </span>
  </div>
</div>
