<div class="container">
  <form class="" [formGroup]="searchPatternForm">
    <input
      placeholder="Search for a contact..."
      formControlName="searchPattern"
    />
    <button (click)="onSearch()"><i class="bi bi-search"></i></button>
  </form>
  @if(getSubmitted && searchPatternForm.get('searchPattern')?.errors){
  <p class="error-text-bright">Search pattern must not be empty!</p>
  }
  <div class="sub-container">
    @for (user of getSearchUserList; track user.userAccountId) {

    <app-tiny-item-component
      name="{{ user.userName }}"
      componentId="{{ user.userAccountId }}"
    >
      <app-tiny-button-component buttonType="chat" />
      <app-tiny-button-component buttonType="friend" />
      <app-tiny-button-component buttonType="block" />
    </app-tiny-item-component>
    }
  </div>
  <div class="flex justify-center items-center mt-2 gap-4">
    @if(getPaginationCount.length > 1) { @for (item of getPaginationCount; track
    $index){ @if(getCurrentPaginationSelection === item){
    <button
      (click)="setPaginationSelection = item"
      class="page-active"
      disabled
    >
      {{ item }}
    </button>
    } @else {
    <button (click)="setPaginationSelection = item">{{ item }}</button>
    } } }
  </div>
</div>
