<div>
  <form class="form-container" [formGroup]="newPasswordForm">
    <h1>Change your password</h1>
    @if(getWasSubmitted && newPasswordForm.get('CurrentPassword')?.errors ||
    getWasSubmitted && newPasswordForm.get('NewPassword')?.errors ||
    getWasSubmitted && getErrorMessage || getWasSubmitted &&
    newPasswordForm.get('ConfirmPassword')?.errors || getWasSubmitted) {
    <p class="error-text">
      {{ getErrorMessage ? getErrorMessage : "Please enter a valid password" }}
    </p>
    }
    <label for="login">Current Password</label>
    <input
      id="CurrentPassword"
      type="password"
      placeholder="Current Password..."
      formControlName="CurrentPassword"
    />
    <label for="login">New Password</label>
    <input
      id="NewPassword"
      type="password"
      placeholder="New Password..."
      formControlName="NewPassword"
    />
    <label for="login">Confirm Password</label>
    <input
      id="ConfirmPassword"
      type="password"
      placeholder="Confirm Password..."
      formControlName="ConfirmPassword"
    />
    <span>
      <button type="button" (click)="onSubmit()">Change Password</button>
      <button type="button" (click)="onRoute()">Back to Main</button>
    </span>
  </form>
</div>
